body {
    margin: 80px 70px;
    width: 1275px;
    height: 100%;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
}

div {
    position: relative;
}

svg {
    display: inline-block;
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: -1;
    
}

h1 span {
    display: inline;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.container:not(.basic-info) h1 {
    color: #3f6fb6;
    font-weight: bold;
    font-size: 42px;
    text-align: left;
    text-transform: uppercase;
    line-height: 80px;
    letter-spacing: 3px;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

h2 {
    display: inline-block;
    margin: 0;
    color: #3f6fb6;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 2px;
}

h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    color: black;
    text-align: left;
    font-size: 28px;
    letter-spacing: -1px;
}

p {
    font-size: 16px;
    line-height: 20px;
}

table {
    border-collapse: collapse;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

td {
    padding-bottom: 33px;
}
tr:last-child td {
    padding-bottom: 0;
}

td:first-child {
    padding-right: 50px;
    color: #3f6fb6;
    font-weight: bold;
    text-transform: uppercase;
}

div[class^="column-"] {
    display: inline-block;
    vertical-align: top;
}

.column-1 {
    width: 35%;
    margin-right: 85px;
}

.column-2 {
    width: 54%;
}


.container {
    padding-bottom: 35px;
}

.basic-info {
    padding-bottom: 65px;
}

.container:not(.basic-info) h1:before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.column-2 .container:not(.basic-info) h1 span {
    padding-left: 20px;
}

.profile h1:before {
    background: url("img/PROFILE ICON.png");
}

.contact h1:before {
    background: url("img/PHONE ICON.png");
}

.skills h1:before {
    background: url("img/SKILLS ICON.png");
}

.education h1:before {
    background: url("img/EDUCATION ICON.png");
}

.experience h1:before {
    background: url("img/EXPERIENCE ICON.png");
}

.software h1:before {
    background: url("img/SOFTWARE ICON.png");
}

.basic-info .photo {
    margin: 17px auto 20px auto;
    height: 225px;
    width: 225px;
    background: #3f6fb6;
    border: 15px solid white;
    box-shadow: 0 0 0 1px #3f6fb6;
    border-radius: 50%;
}

.basic-info .name {
    width: 100%;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
    .basic-info .name h1 {
        margin: 0;
        font-weight: normal;
        font-size: 60px;
        color: black;
        text-transform: uppercase;
        text-align: center;
    }

    .basic-info .name h2 {
        margin: 0;
        color: black;
        font-weight: bold;
        font-size: 65px;
        line-height: 65%;
    }

    .basic-info .name h3 {
        margin: 0;
        font-weight: bold;
        font-size: 28px;
        text-align: center;
        line-height: 2.2;
    }

.skills h3 {
    text-align: center;
}

.rating {
    margin: 8px auto 20px;
    display: flex;
    justify-content: center;
}

li:last-child .rating {
    margin-top: 5px;
}

.skills ul {
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
}

.skills li {
    margin-top: 10px;
}


.circle {
    display: inline-block;
    background: #3f6fb6;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.empty {
    background: #e6e6e6;
}

.education ul,
.experience ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 25px;
}

.education li,
.experience li {
    display: block;
    margin-left: 56px;
}

.education p,
.experience p {
    margin-top: 5px;
    margin-bottom: 12px;
}

.education li h2,
.experience li h2 {
    margin-left: -43px;
}

.education li h2::before,
.experience li h2::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: black;
}

.education li h3,
.experience li h3 {
    margin-top: 2px;
}

.education ul span,
.experience ul span {
    color: black;
    text-transform: none;
    font-size: 27px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -1px;
}



.experience ul {
    margin-top: 45px;
}

.experience h2 {
    color: black;
}

.software .list {
    list-style: none;
    column-count: 2;
    margin-top: 25px;
    margin-left: 5px;
}

.software-list-item {
    margin-bottom: 22px;
}

.software-list-item:nth-child(4),
.software-list-item:nth-child(5),
.software-list-item:nth-child(6) {
    margin-left: 30px;
}

.bar {
    width: 305px;
    height: 25px;
    background: #e6e6e6;
    margin-top: 10px;
}

.bar:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #3f6fb6;
}

.photoshop:after {
    width: 90%;
}

.illustrator:after {
    width: 70%;
}

.indesign:after {
    width: 55%;
}

.dreamweaver:after {
    width: 80%;
}

.after-effects:after {
    width: 60%;
}

.html-css:after {
    width: 90%;
}